/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon48-abkhazia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -48px 0px;
  width: 48px;
  height: 48px;
}
.icon48-afghanistan {
  background-image: url(sprite_flat_flags48.png);
  background-position: -528px -432px;
  width: 48px;
  height: 48px;
}
.icon48-aland {
  background-image: url(sprite_flat_flags48.png);
  background-position: 0px -48px;
  width: 48px;
  height: 48px;
}
.icon48-albania {
  background-image: url(sprite_flat_flags48.png);
  background-position: -48px -48px;
  width: 48px;
  height: 48px;
}
.icon48-algeria {
  background-image: url(sprite_flat_flags48.png);
  background-position: -96px 0px;
  width: 48px;
  height: 48px;
}
.icon48-american-samoa {
  background-image: url(sprite_flat_flags48.png);
  background-position: -96px -48px;
  width: 48px;
  height: 48px;
}
.icon48-andorra {
  background-image: url(sprite_flat_flags48.png);
  background-position: 0px -96px;
  width: 48px;
  height: 48px;
}
.icon48-angola {
  background-image: url(sprite_flat_flags48.png);
  background-position: -48px -96px;
  width: 48px;
  height: 48px;
}
.icon48-anguilla {
  background-image: url(sprite_flat_flags48.png);
  background-position: -96px -96px;
  width: 48px;
  height: 48px;
}
.icon48-antarctica {
  background-image: url(sprite_flat_flags48.png);
  background-position: -144px 0px;
  width: 48px;
  height: 48px;
}
.icon48-antigua-and-barbuda {
  background-image: url(sprite_flat_flags48.png);
  background-position: -144px -48px;
  width: 48px;
  height: 48px;
}
.icon48-argentina {
  background-image: url(sprite_flat_flags48.png);
  background-position: -144px -96px;
  width: 48px;
  height: 48px;
}
.icon48-armenia {
  background-image: url(sprite_flat_flags48.png);
  background-position: 0px -144px;
  width: 48px;
  height: 48px;
}
.icon48-aruba {
  background-image: url(sprite_flat_flags48.png);
  background-position: -48px -144px;
  width: 48px;
  height: 48px;
}
.icon48-australia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -96px -144px;
  width: 48px;
  height: 48px;
}
.icon48-austria {
  background-image: url(sprite_flat_flags48.png);
  background-position: -144px -144px;
  width: 48px;
  height: 48px;
}
.icon48-azerbaijan {
  background-image: url(sprite_flat_flags48.png);
  background-position: -192px 0px;
  width: 48px;
  height: 48px;
}
.icon48-bahamas {
  background-image: url(sprite_flat_flags48.png);
  background-position: -192px -48px;
  width: 48px;
  height: 48px;
}
.icon48-bahrain {
  background-image: url(sprite_flat_flags48.png);
  background-position: -192px -96px;
  width: 48px;
  height: 48px;
}
.icon48-bangladesh {
  background-image: url(sprite_flat_flags48.png);
  background-position: -192px -144px;
  width: 48px;
  height: 48px;
}
.icon48-barbados {
  background-image: url(sprite_flat_flags48.png);
  background-position: 0px -192px;
  width: 48px;
  height: 48px;
}
.icon48-basque-country {
  background-image: url(sprite_flat_flags48.png);
  background-position: -48px -192px;
  width: 48px;
  height: 48px;
}
.icon48-belarus {
  background-image: url(sprite_flat_flags48.png);
  background-position: -96px -192px;
  width: 48px;
  height: 48px;
}
.icon48-belgium {
  background-image: url(sprite_flat_flags48.png);
  background-position: -144px -192px;
  width: 48px;
  height: 48px;
}
.icon48-belize {
  background-image: url(sprite_flat_flags48.png);
  background-position: -192px -192px;
  width: 48px;
  height: 48px;
}
.icon48-benin {
  background-image: url(sprite_flat_flags48.png);
  background-position: -240px 0px;
  width: 48px;
  height: 48px;
}
.icon48-bermuda {
  background-image: url(sprite_flat_flags48.png);
  background-position: -240px -48px;
  width: 48px;
  height: 48px;
}
.icon48-bhutan {
  background-image: url(sprite_flat_flags48.png);
  background-position: -240px -96px;
  width: 48px;
  height: 48px;
}
.icon48-bolivia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -240px -144px;
  width: 48px;
  height: 48px;
}
.icon48-bosnia-and-herzegovina {
  background-image: url(sprite_flat_flags48.png);
  background-position: -240px -192px;
  width: 48px;
  height: 48px;
}
.icon48-botswana {
  background-image: url(sprite_flat_flags48.png);
  background-position: 0px -240px;
  width: 48px;
  height: 48px;
}
.icon48-brazil {
  background-image: url(sprite_flat_flags48.png);
  background-position: -48px -240px;
  width: 48px;
  height: 48px;
}
.icon48-british-antarctic-territory {
  background-image: url(sprite_flat_flags48.png);
  background-position: -96px -240px;
  width: 48px;
  height: 48px;
}
.icon48-british-virgin-islands {
  background-image: url(sprite_flat_flags48.png);
  background-position: -144px -240px;
  width: 48px;
  height: 48px;
}
.icon48-brunei {
  background-image: url(sprite_flat_flags48.png);
  background-position: -192px -240px;
  width: 48px;
  height: 48px;
}
.icon48-bulgaria {
  background-image: url(sprite_flat_flags48.png);
  background-position: -240px -240px;
  width: 48px;
  height: 48px;
}
.icon48-burkina-faso {
  background-image: url(sprite_flat_flags48.png);
  background-position: -288px 0px;
  width: 48px;
  height: 48px;
}
.icon48-burundi {
  background-image: url(sprite_flat_flags48.png);
  background-position: -288px -48px;
  width: 48px;
  height: 48px;
}
.icon48-cambodia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -288px -96px;
  width: 48px;
  height: 48px;
}
.icon48-cameroon {
  background-image: url(sprite_flat_flags48.png);
  background-position: -288px -144px;
  width: 48px;
  height: 48px;
}
.icon48-canada {
  background-image: url(sprite_flat_flags48.png);
  background-position: -288px -192px;
  width: 48px;
  height: 48px;
}
.icon48-canary-islands {
  background-image: url(sprite_flat_flags48.png);
  background-position: -288px -240px;
  width: 48px;
  height: 48px;
}
.icon48-cape-verde {
  background-image: url(sprite_flat_flags48.png);
  background-position: 0px -288px;
  width: 48px;
  height: 48px;
}
.icon48-cayman-islands {
  background-image: url(sprite_flat_flags48.png);
  background-position: -48px -288px;
  width: 48px;
  height: 48px;
}
.icon48-central-african-republic {
  background-image: url(sprite_flat_flags48.png);
  background-position: -96px -288px;
  width: 48px;
  height: 48px;
}
.icon48-chad {
  background-image: url(sprite_flat_flags48.png);
  background-position: -144px -288px;
  width: 48px;
  height: 48px;
}
.icon48-chile {
  background-image: url(sprite_flat_flags48.png);
  background-position: -192px -288px;
  width: 48px;
  height: 48px;
}
.icon48-china {
  background-image: url(sprite_flat_flags48.png);
  background-position: -240px -288px;
  width: 48px;
  height: 48px;
}
.icon48-christmas-island {
  background-image: url(sprite_flat_flags48.png);
  background-position: -288px -288px;
  width: 48px;
  height: 48px;
}
.icon48-cocos-keeling-islands {
  background-image: url(sprite_flat_flags48.png);
  background-position: -336px 0px;
  width: 48px;
  height: 48px;
}
.icon48-colombia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -336px -48px;
  width: 48px;
  height: 48px;
}
.icon48-commonwealth {
  background-image: url(sprite_flat_flags48.png);
  background-position: -336px -96px;
  width: 48px;
  height: 48px;
}
.icon48-comoros {
  background-image: url(sprite_flat_flags48.png);
  background-position: -336px -144px;
  width: 48px;
  height: 48px;
}
.icon48-cook-islands {
  background-image: url(sprite_flat_flags48.png);
  background-position: -336px -192px;
  width: 48px;
  height: 48px;
}
.icon48-costa-rica {
  background-image: url(sprite_flat_flags48.png);
  background-position: -336px -240px;
  width: 48px;
  height: 48px;
}
.icon48-cote-divoire {
  background-image: url(sprite_flat_flags48.png);
  background-position: -336px -288px;
  width: 48px;
  height: 48px;
}
.icon48-croatia {
  background-image: url(sprite_flat_flags48.png);
  background-position: 0px -336px;
  width: 48px;
  height: 48px;
}
.icon48-cuba {
  background-image: url(sprite_flat_flags48.png);
  background-position: -48px -336px;
  width: 48px;
  height: 48px;
}
.icon48-curacao {
  background-image: url(sprite_flat_flags48.png);
  background-position: -96px -336px;
  width: 48px;
  height: 48px;
}
.icon48-cyprus {
  background-image: url(sprite_flat_flags48.png);
  background-position: -144px -336px;
  width: 48px;
  height: 48px;
}
.icon48-czech-republic {
  background-image: url(sprite_flat_flags48.png);
  background-position: -192px -336px;
  width: 48px;
  height: 48px;
}
.icon48-democratic-republic-of-the-congo {
  background-image: url(sprite_flat_flags48.png);
  background-position: -240px -336px;
  width: 48px;
  height: 48px;
}
.icon48-denmark {
  background-image: url(sprite_flat_flags48.png);
  background-position: -288px -336px;
  width: 48px;
  height: 48px;
}
.icon48-djibouti {
  background-image: url(sprite_flat_flags48.png);
  background-position: -336px -336px;
  width: 48px;
  height: 48px;
}
.icon48-dominica {
  background-image: url(sprite_flat_flags48.png);
  background-position: -384px 0px;
  width: 48px;
  height: 48px;
}
.icon48-dominican-republic {
  background-image: url(sprite_flat_flags48.png);
  background-position: -384px -48px;
  width: 48px;
  height: 48px;
}
.icon48-east-timor {
  background-image: url(sprite_flat_flags48.png);
  background-position: -384px -96px;
  width: 48px;
  height: 48px;
}
.icon48-ecuador {
  background-image: url(sprite_flat_flags48.png);
  background-position: -384px -144px;
  width: 48px;
  height: 48px;
}
.icon48-egypt {
  background-image: url(sprite_flat_flags48.png);
  background-position: -384px -192px;
  width: 48px;
  height: 48px;
}
.icon48-el-salvador {
  background-image: url(sprite_flat_flags48.png);
  background-position: -384px -240px;
  width: 48px;
  height: 48px;
}
.icon48-england {
  background-image: url(sprite_flat_flags48.png);
  background-position: -384px -288px;
  width: 48px;
  height: 48px;
}
.icon48-equatorial-guinea {
  background-image: url(sprite_flat_flags48.png);
  background-position: -384px -336px;
  width: 48px;
  height: 48px;
}
.icon48-eritrea {
  background-image: url(sprite_flat_flags48.png);
  background-position: 0px -384px;
  width: 48px;
  height: 48px;
}
.icon48-estonia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -48px -384px;
  width: 48px;
  height: 48px;
}
.icon48-ethiopia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -96px -384px;
  width: 48px;
  height: 48px;
}
.icon48-european-union {
  background-image: url(sprite_flat_flags48.png);
  background-position: -144px -384px;
  width: 48px;
  height: 48px;
}
.icon48-falkland-islands {
  background-image: url(sprite_flat_flags48.png);
  background-position: -192px -384px;
  width: 48px;
  height: 48px;
}
.icon48-faroes {
  background-image: url(sprite_flat_flags48.png);
  background-position: -240px -384px;
  width: 48px;
  height: 48px;
}
.icon48-fiji {
  background-image: url(sprite_flat_flags48.png);
  background-position: -288px -384px;
  width: 48px;
  height: 48px;
}
.icon48-finland {
  background-image: url(sprite_flat_flags48.png);
  background-position: -336px -384px;
  width: 48px;
  height: 48px;
}
.icon48-france {
  background-image: url(sprite_flat_flags48.png);
  background-position: -384px -384px;
  width: 48px;
  height: 48px;
}
.icon48-french-polynesia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -432px 0px;
  width: 48px;
  height: 48px;
}
.icon48-french-southern-territories {
  background-image: url(sprite_flat_flags48.png);
  background-position: -432px -48px;
  width: 48px;
  height: 48px;
}
.icon48-gabon {
  background-image: url(sprite_flat_flags48.png);
  background-position: -432px -96px;
  width: 48px;
  height: 48px;
}
.icon48-gambia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -432px -144px;
  width: 48px;
  height: 48px;
}
.icon48-georgia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -432px -192px;
  width: 48px;
  height: 48px;
}
.icon48-germany {
  background-image: url(sprite_flat_flags48.png);
  background-position: -432px -240px;
  width: 48px;
  height: 48px;
}
.icon48-ghana {
  background-image: url(sprite_flat_flags48.png);
  background-position: -432px -288px;
  width: 48px;
  height: 48px;
}
.icon48-gibraltar {
  background-image: url(sprite_flat_flags48.png);
  background-position: -432px -336px;
  width: 48px;
  height: 48px;
}
.icon48-gosquared {
  background-image: url(sprite_flat_flags48.png);
  background-position: -432px -384px;
  width: 48px;
  height: 48px;
}
.icon48-greece {
  background-image: url(sprite_flat_flags48.png);
  background-position: 0px -432px;
  width: 48px;
  height: 48px;
}
.icon48-greenland {
  background-image: url(sprite_flat_flags48.png);
  background-position: -48px -432px;
  width: 48px;
  height: 48px;
}
.icon48-grenada {
  background-image: url(sprite_flat_flags48.png);
  background-position: -96px -432px;
  width: 48px;
  height: 48px;
}
.icon48-guam {
  background-image: url(sprite_flat_flags48.png);
  background-position: -144px -432px;
  width: 48px;
  height: 48px;
}
.icon48-guatemala {
  background-image: url(sprite_flat_flags48.png);
  background-position: -192px -432px;
  width: 48px;
  height: 48px;
}
.icon48-guernsey {
  background-image: url(sprite_flat_flags48.png);
  background-position: -240px -432px;
  width: 48px;
  height: 48px;
}
.icon48-guinea-bissau {
  background-image: url(sprite_flat_flags48.png);
  background-position: -288px -432px;
  width: 48px;
  height: 48px;
}
.icon48-guinea {
  background-image: url(sprite_flat_flags48.png);
  background-position: -336px -432px;
  width: 48px;
  height: 48px;
}
.icon48-guyana {
  background-image: url(sprite_flat_flags48.png);
  background-position: -384px -432px;
  width: 48px;
  height: 48px;
}
.icon48-haiti {
  background-image: url(sprite_flat_flags48.png);
  background-position: -432px -432px;
  width: 48px;
  height: 48px;
}
.icon48-honduras {
  background-image: url(sprite_flat_flags48.png);
  background-position: -480px 0px;
  width: 48px;
  height: 48px;
}
.icon48-hong-kong {
  background-image: url(sprite_flat_flags48.png);
  background-position: -480px -48px;
  width: 48px;
  height: 48px;
}
.icon48-hungary {
  background-image: url(sprite_flat_flags48.png);
  background-position: -480px -96px;
  width: 48px;
  height: 48px;
}
.icon48-iceland {
  background-image: url(sprite_flat_flags48.png);
  background-position: -480px -144px;
  width: 48px;
  height: 48px;
}
.icon48-india {
  background-image: url(sprite_flat_flags48.png);
  background-position: -480px -192px;
  width: 48px;
  height: 48px;
}
.icon48-indonesia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -480px -240px;
  width: 48px;
  height: 48px;
}
.icon48-iran {
  background-image: url(sprite_flat_flags48.png);
  background-position: -480px -288px;
  width: 48px;
  height: 48px;
}
.icon48-iraq {
  background-image: url(sprite_flat_flags48.png);
  background-position: -480px -336px;
  width: 48px;
  height: 48px;
}
.icon48-ireland {
  background-image: url(sprite_flat_flags48.png);
  background-position: -480px -384px;
  width: 48px;
  height: 48px;
}
.icon48-isle-of-man {
  background-image: url(sprite_flat_flags48.png);
  background-position: -480px -432px;
  width: 48px;
  height: 48px;
}
.icon48-israel {
  background-image: url(sprite_flat_flags48.png);
  background-position: 0px -480px;
  width: 48px;
  height: 48px;
}
.icon48-italy {
  background-image: url(sprite_flat_flags48.png);
  background-position: -48px -480px;
  width: 48px;
  height: 48px;
}
.icon48-jamaica {
  background-image: url(sprite_flat_flags48.png);
  background-position: -96px -480px;
  width: 48px;
  height: 48px;
}
.icon48-japan {
  background-image: url(sprite_flat_flags48.png);
  background-position: -144px -480px;
  width: 48px;
  height: 48px;
}
.icon48-jersey {
  background-image: url(sprite_flat_flags48.png);
  background-position: -192px -480px;
  width: 48px;
  height: 48px;
}
.icon48-jordan {
  background-image: url(sprite_flat_flags48.png);
  background-position: -240px -480px;
  width: 48px;
  height: 48px;
}
.icon48-kazakhstan {
  background-image: url(sprite_flat_flags48.png);
  background-position: -288px -480px;
  width: 48px;
  height: 48px;
}
.icon48-kenya {
  background-image: url(sprite_flat_flags48.png);
  background-position: -336px -480px;
  width: 48px;
  height: 48px;
}
.icon48-kiribati {
  background-image: url(sprite_flat_flags48.png);
  background-position: -384px -480px;
  width: 48px;
  height: 48px;
}
.icon48-kosovo {
  background-image: url(sprite_flat_flags48.png);
  background-position: -432px -480px;
  width: 48px;
  height: 48px;
}
.icon48-kuwait {
  background-image: url(sprite_flat_flags48.png);
  background-position: -480px -480px;
  width: 48px;
  height: 48px;
}
.icon48-kyrgyzstan {
  background-image: url(sprite_flat_flags48.png);
  background-position: -528px 0px;
  width: 48px;
  height: 48px;
}
.icon48-laos {
  background-image: url(sprite_flat_flags48.png);
  background-position: -528px -48px;
  width: 48px;
  height: 48px;
}
.icon48-latvia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -528px -96px;
  width: 48px;
  height: 48px;
}
.icon48-lebanon {
  background-image: url(sprite_flat_flags48.png);
  background-position: -528px -144px;
  width: 48px;
  height: 48px;
}
.icon48-lesotho {
  background-image: url(sprite_flat_flags48.png);
  background-position: -528px -192px;
  width: 48px;
  height: 48px;
}
.icon48-liberia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -528px -240px;
  width: 48px;
  height: 48px;
}
.icon48-libya {
  background-image: url(sprite_flat_flags48.png);
  background-position: -528px -288px;
  width: 48px;
  height: 48px;
}
.icon48-liechtenstein {
  background-image: url(sprite_flat_flags48.png);
  background-position: -528px -336px;
  width: 48px;
  height: 48px;
}
.icon48-lithuania {
  background-image: url(sprite_flat_flags48.png);
  background-position: -528px -384px;
  width: 48px;
  height: 48px;
}
.icon48-luxembourg {
  background-image: url(sprite_flat_flags48.png);
  background-position: 0px 0px;
  width: 48px;
  height: 48px;
}
.icon48-macau {
  background-image: url(sprite_flat_flags48.png);
  background-position: -528px -480px;
  width: 48px;
  height: 48px;
}
.icon48-macedonia {
  background-image: url(sprite_flat_flags48.png);
  background-position: 0px -528px;
  width: 48px;
  height: 48px;
}
.icon48-madagascar {
  background-image: url(sprite_flat_flags48.png);
  background-position: -48px -528px;
  width: 48px;
  height: 48px;
}
.icon48-malawi {
  background-image: url(sprite_flat_flags48.png);
  background-position: -96px -528px;
  width: 48px;
  height: 48px;
}
.icon48-malaysia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -144px -528px;
  width: 48px;
  height: 48px;
}
.icon48-maldives {
  background-image: url(sprite_flat_flags48.png);
  background-position: -192px -528px;
  width: 48px;
  height: 48px;
}
.icon48-mali {
  background-image: url(sprite_flat_flags48.png);
  background-position: -240px -528px;
  width: 48px;
  height: 48px;
}
.icon48-malta {
  background-image: url(sprite_flat_flags48.png);
  background-position: -288px -528px;
  width: 48px;
  height: 48px;
}
.icon48-mars {
  background-image: url(sprite_flat_flags48.png);
  background-position: -336px -528px;
  width: 48px;
  height: 48px;
}
.icon48-marshall-islands {
  background-image: url(sprite_flat_flags48.png);
  background-position: -384px -528px;
  width: 48px;
  height: 48px;
}
.icon48-martinique {
  background-image: url(sprite_flat_flags48.png);
  background-position: -432px -528px;
  width: 48px;
  height: 48px;
}
.icon48-mauritania {
  background-image: url(sprite_flat_flags48.png);
  background-position: -480px -528px;
  width: 48px;
  height: 48px;
}
.icon48-mauritius {
  background-image: url(sprite_flat_flags48.png);
  background-position: -528px -528px;
  width: 48px;
  height: 48px;
}
.icon48-mayotte {
  background-image: url(sprite_flat_flags48.png);
  background-position: -576px 0px;
  width: 48px;
  height: 48px;
}
.icon48-mexico {
  background-image: url(sprite_flat_flags48.png);
  background-position: -576px -48px;
  width: 48px;
  height: 48px;
}
.icon48-micronesia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -576px -96px;
  width: 48px;
  height: 48px;
}
.icon48-moldova {
  background-image: url(sprite_flat_flags48.png);
  background-position: -576px -144px;
  width: 48px;
  height: 48px;
}
.icon48-monaco {
  background-image: url(sprite_flat_flags48.png);
  background-position: -576px -192px;
  width: 48px;
  height: 48px;
}
.icon48-mongolia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -576px -240px;
  width: 48px;
  height: 48px;
}
.icon48-montenegro {
  background-image: url(sprite_flat_flags48.png);
  background-position: -576px -288px;
  width: 48px;
  height: 48px;
}
.icon48-montserrat {
  background-image: url(sprite_flat_flags48.png);
  background-position: -576px -336px;
  width: 48px;
  height: 48px;
}
.icon48-morocco {
  background-image: url(sprite_flat_flags48.png);
  background-position: -576px -384px;
  width: 48px;
  height: 48px;
}
.icon48-mozambique {
  background-image: url(sprite_flat_flags48.png);
  background-position: -576px -432px;
  width: 48px;
  height: 48px;
}
.icon48-myanmar {
  background-image: url(sprite_flat_flags48.png);
  background-position: -576px -480px;
  width: 48px;
  height: 48px;
}
.icon48-nagorno-karabakh {
  background-image: url(sprite_flat_flags48.png);
  background-position: -576px -528px;
  width: 48px;
  height: 48px;
}
.icon48-namibia {
  background-image: url(sprite_flat_flags48.png);
  background-position: 0px -576px;
  width: 48px;
  height: 48px;
}
.icon48-nato {
  background-image: url(sprite_flat_flags48.png);
  background-position: -48px -576px;
  width: 48px;
  height: 48px;
}
.icon48-nauru {
  background-image: url(sprite_flat_flags48.png);
  background-position: -96px -576px;
  width: 48px;
  height: 48px;
}
.icon48-nepal {
  background-image: url(sprite_flat_flags48.png);
  background-position: -144px -576px;
  width: 48px;
  height: 48px;
}
.icon48-netherlands-antilles {
  background-image: url(sprite_flat_flags48.png);
  background-position: -192px -576px;
  width: 48px;
  height: 48px;
}
.icon48-netherlands {
  background-image: url(sprite_flat_flags48.png);
  background-position: -240px -576px;
  width: 48px;
  height: 48px;
}
.icon48-new-caledonia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -288px -576px;
  width: 48px;
  height: 48px;
}
.icon48-new-zealand {
  background-image: url(sprite_flat_flags48.png);
  background-position: -336px -576px;
  width: 48px;
  height: 48px;
}
.icon48-nicaragua {
  background-image: url(sprite_flat_flags48.png);
  background-position: -384px -576px;
  width: 48px;
  height: 48px;
}
.icon48-niger {
  background-image: url(sprite_flat_flags48.png);
  background-position: -432px -576px;
  width: 48px;
  height: 48px;
}
.icon48-nigeria {
  background-image: url(sprite_flat_flags48.png);
  background-position: -480px -576px;
  width: 48px;
  height: 48px;
}
.icon48-niue {
  background-image: url(sprite_flat_flags48.png);
  background-position: -528px -576px;
  width: 48px;
  height: 48px;
}
.icon48-norfolk-island {
  background-image: url(sprite_flat_flags48.png);
  background-position: -576px -576px;
  width: 48px;
  height: 48px;
}
.icon48-north-korea {
  background-image: url(sprite_flat_flags48.png);
  background-position: -624px 0px;
  width: 48px;
  height: 48px;
}
.icon48-northern-cyprus {
  background-image: url(sprite_flat_flags48.png);
  background-position: -624px -48px;
  width: 48px;
  height: 48px;
}
.icon48-northern-mariana-islands {
  background-image: url(sprite_flat_flags48.png);
  background-position: -624px -96px;
  width: 48px;
  height: 48px;
}
.icon48-norway {
  background-image: url(sprite_flat_flags48.png);
  background-position: -624px -144px;
  width: 48px;
  height: 48px;
}
.icon48-olympics {
  background-image: url(sprite_flat_flags48.png);
  background-position: -624px -192px;
  width: 48px;
  height: 48px;
}
.icon48-oman {
  background-image: url(sprite_flat_flags48.png);
  background-position: -624px -240px;
  width: 48px;
  height: 48px;
}
.icon48-pakistan {
  background-image: url(sprite_flat_flags48.png);
  background-position: -624px -288px;
  width: 48px;
  height: 48px;
}
.icon48-palau {
  background-image: url(sprite_flat_flags48.png);
  background-position: -624px -336px;
  width: 48px;
  height: 48px;
}
.icon48-palestine {
  background-image: url(sprite_flat_flags48.png);
  background-position: -624px -384px;
  width: 48px;
  height: 48px;
}
.icon48-panama {
  background-image: url(sprite_flat_flags48.png);
  background-position: -624px -432px;
  width: 48px;
  height: 48px;
}
.icon48-papua-new-guinea {
  background-image: url(sprite_flat_flags48.png);
  background-position: -624px -480px;
  width: 48px;
  height: 48px;
}
.icon48-paraguay {
  background-image: url(sprite_flat_flags48.png);
  background-position: -624px -528px;
  width: 48px;
  height: 48px;
}
.icon48-peru {
  background-image: url(sprite_flat_flags48.png);
  background-position: -624px -576px;
  width: 48px;
  height: 48px;
}
.icon48-philippines {
  background-image: url(sprite_flat_flags48.png);
  background-position: 0px -624px;
  width: 48px;
  height: 48px;
}
.icon48-pitcairn-islands {
  background-image: url(sprite_flat_flags48.png);
  background-position: -48px -624px;
  width: 48px;
  height: 48px;
}
.icon48-poland {
  background-image: url(sprite_flat_flags48.png);
  background-position: -96px -624px;
  width: 48px;
  height: 48px;
}
.icon48-portugal {
  background-image: url(sprite_flat_flags48.png);
  background-position: -144px -624px;
  width: 48px;
  height: 48px;
}
.icon48-puerto-rico {
  background-image: url(sprite_flat_flags48.png);
  background-position: -192px -624px;
  width: 48px;
  height: 48px;
}
.icon48-qatar {
  background-image: url(sprite_flat_flags48.png);
  background-position: -240px -624px;
  width: 48px;
  height: 48px;
}
.icon48-red-cross {
  background-image: url(sprite_flat_flags48.png);
  background-position: -288px -624px;
  width: 48px;
  height: 48px;
}
.icon48-republic-of-the-congo {
  background-image: url(sprite_flat_flags48.png);
  background-position: -336px -624px;
  width: 48px;
  height: 48px;
}
.icon48-romania {
  background-image: url(sprite_flat_flags48.png);
  background-position: -384px -624px;
  width: 48px;
  height: 48px;
}
.icon48-russia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -432px -624px;
  width: 48px;
  height: 48px;
}
.icon48-rwanda {
  background-image: url(sprite_flat_flags48.png);
  background-position: -480px -624px;
  width: 48px;
  height: 48px;
}
.icon48-saint-barthelemy {
  background-image: url(sprite_flat_flags48.png);
  background-position: -528px -624px;
  width: 48px;
  height: 48px;
}
.icon48-saint-helena {
  background-image: url(sprite_flat_flags48.png);
  background-position: -576px -624px;
  width: 48px;
  height: 48px;
}
.icon48-saint-kitts-and-nevis {
  background-image: url(sprite_flat_flags48.png);
  background-position: -624px -624px;
  width: 48px;
  height: 48px;
}
.icon48-saint-lucia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -672px 0px;
  width: 48px;
  height: 48px;
}
.icon48-saint-martin {
  background-image: url(sprite_flat_flags48.png);
  background-position: -672px -48px;
  width: 48px;
  height: 48px;
}
.icon48-saint-vincent-and-the-grenadines {
  background-image: url(sprite_flat_flags48.png);
  background-position: -672px -96px;
  width: 48px;
  height: 48px;
}
.icon48-samoa {
  background-image: url(sprite_flat_flags48.png);
  background-position: -672px -144px;
  width: 48px;
  height: 48px;
}
.icon48-san-marino {
  background-image: url(sprite_flat_flags48.png);
  background-position: -672px -192px;
  width: 48px;
  height: 48px;
}
.icon48-sao-tome-and-principe {
  background-image: url(sprite_flat_flags48.png);
  background-position: -672px -240px;
  width: 48px;
  height: 48px;
}
.icon48-saudi-arabia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -672px -288px;
  width: 48px;
  height: 48px;
}
.icon48-scotland {
  background-image: url(sprite_flat_flags48.png);
  background-position: -672px -336px;
  width: 48px;
  height: 48px;
}
.icon48-senegal {
  background-image: url(sprite_flat_flags48.png);
  background-position: -672px -384px;
  width: 48px;
  height: 48px;
}
.icon48-serbia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -672px -432px;
  width: 48px;
  height: 48px;
}
.icon48-seychelles {
  background-image: url(sprite_flat_flags48.png);
  background-position: -672px -480px;
  width: 48px;
  height: 48px;
}
.icon48-sierra-leone {
  background-image: url(sprite_flat_flags48.png);
  background-position: -672px -528px;
  width: 48px;
  height: 48px;
}
.icon48-singapore {
  background-image: url(sprite_flat_flags48.png);
  background-position: -672px -576px;
  width: 48px;
  height: 48px;
}
.icon48-slovakia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -672px -624px;
  width: 48px;
  height: 48px;
}
.icon48-slovenia {
  background-image: url(sprite_flat_flags48.png);
  background-position: 0px -672px;
  width: 48px;
  height: 48px;
}
.icon48-solomon-islands {
  background-image: url(sprite_flat_flags48.png);
  background-position: -48px -672px;
  width: 48px;
  height: 48px;
}
.icon48-somalia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -96px -672px;
  width: 48px;
  height: 48px;
}
.icon48-somaliland {
  background-image: url(sprite_flat_flags48.png);
  background-position: -144px -672px;
  width: 48px;
  height: 48px;
}
.icon48-south-africa {
  background-image: url(sprite_flat_flags48.png);
  background-position: -192px -672px;
  width: 48px;
  height: 48px;
}
.icon48-south-georgia-and-the-south-sandwich-islands {
  background-image: url(sprite_flat_flags48.png);
  background-position: -240px -672px;
  width: 48px;
  height: 48px;
}
.icon48-south-korea {
  background-image: url(sprite_flat_flags48.png);
  background-position: -288px -672px;
  width: 48px;
  height: 48px;
}
.icon48-south-ossetia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -336px -672px;
  width: 48px;
  height: 48px;
}
.icon48-south-sudan {
  background-image: url(sprite_flat_flags48.png);
  background-position: -384px -672px;
  width: 48px;
  height: 48px;
}
.icon48-spain {
  background-image: url(sprite_flat_flags48.png);
  background-position: -432px -672px;
  width: 48px;
  height: 48px;
}
.icon48-sri-lanka {
  background-image: url(sprite_flat_flags48.png);
  background-position: -480px -672px;
  width: 48px;
  height: 48px;
}
.icon48-sudan {
  background-image: url(sprite_flat_flags48.png);
  background-position: -528px -672px;
  width: 48px;
  height: 48px;
}
.icon48-suriname {
  background-image: url(sprite_flat_flags48.png);
  background-position: -576px -672px;
  width: 48px;
  height: 48px;
}
.icon48-swaziland {
  background-image: url(sprite_flat_flags48.png);
  background-position: -624px -672px;
  width: 48px;
  height: 48px;
}
.icon48-sweden {
  background-image: url(sprite_flat_flags48.png);
  background-position: -672px -672px;
  width: 48px;
  height: 48px;
}
.icon48-switzerland {
  background-image: url(sprite_flat_flags48.png);
  background-position: -720px 0px;
  width: 48px;
  height: 48px;
}
.icon48-syria {
  background-image: url(sprite_flat_flags48.png);
  background-position: -720px -48px;
  width: 48px;
  height: 48px;
}
.icon48-taiwan {
  background-image: url(sprite_flat_flags48.png);
  background-position: -720px -96px;
  width: 48px;
  height: 48px;
}
.icon48-tajikistan {
  background-image: url(sprite_flat_flags48.png);
  background-position: -720px -144px;
  width: 48px;
  height: 48px;
}
.icon48-tanzania {
  background-image: url(sprite_flat_flags48.png);
  background-position: -720px -192px;
  width: 48px;
  height: 48px;
}
.icon48-thailand {
  background-image: url(sprite_flat_flags48.png);
  background-position: -720px -240px;
  width: 48px;
  height: 48px;
}
.icon48-togo {
  background-image: url(sprite_flat_flags48.png);
  background-position: -720px -288px;
  width: 48px;
  height: 48px;
}
.icon48-tokelau {
  background-image: url(sprite_flat_flags48.png);
  background-position: -720px -336px;
  width: 48px;
  height: 48px;
}
.icon48-tonga {
  background-image: url(sprite_flat_flags48.png);
  background-position: -720px -384px;
  width: 48px;
  height: 48px;
}
.icon48-trinidad-and-tobago {
  background-image: url(sprite_flat_flags48.png);
  background-position: -720px -432px;
  width: 48px;
  height: 48px;
}
.icon48-tunisia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -720px -480px;
  width: 48px;
  height: 48px;
}
.icon48-turkey {
  background-image: url(sprite_flat_flags48.png);
  background-position: -720px -528px;
  width: 48px;
  height: 48px;
}
.icon48-turkmenistan {
  background-image: url(sprite_flat_flags48.png);
  background-position: -720px -576px;
  width: 48px;
  height: 48px;
}
.icon48-turks-and-caicos-islands {
  background-image: url(sprite_flat_flags48.png);
  background-position: -720px -624px;
  width: 48px;
  height: 48px;
}
.icon48-tuvalu {
  background-image: url(sprite_flat_flags48.png);
  background-position: -720px -672px;
  width: 48px;
  height: 48px;
}
.icon48-uganda {
  background-image: url(sprite_flat_flags48.png);
  background-position: 0px -720px;
  width: 48px;
  height: 48px;
}
.icon48-ukraine {
  background-image: url(sprite_flat_flags48.png);
  background-position: -48px -720px;
  width: 48px;
  height: 48px;
}
.icon48-united-arab-emirates {
  background-image: url(sprite_flat_flags48.png);
  background-position: -96px -720px;
  width: 48px;
  height: 48px;
}
.icon48-united-kingdom {
  background-image: url(sprite_flat_flags48.png);
  background-position: -144px -720px;
  width: 48px;
  height: 48px;
}
.icon48-united-nations {
  background-image: url(sprite_flat_flags48.png);
  background-position: -192px -720px;
  width: 48px;
  height: 48px;
}
.icon48-united-states {
  background-image: url(sprite_flat_flags48.png);
  background-position: -240px -720px;
  width: 48px;
  height: 48px;
}
.icon48-unknown {
  background-image: url(sprite_flat_flags48.png);
  background-position: -288px -720px;
  width: 48px;
  height: 48px;
}
.icon48-uruguay {
  background-image: url(sprite_flat_flags48.png);
  background-position: -336px -720px;
  width: 48px;
  height: 48px;
}
.icon48-us-virgin-islands {
  background-image: url(sprite_flat_flags48.png);
  background-position: -384px -720px;
  width: 48px;
  height: 48px;
}
.icon48-uzbekistan {
  background-image: url(sprite_flat_flags48.png);
  background-position: -432px -720px;
  width: 48px;
  height: 48px;
}
.icon48-vanuatu {
  background-image: url(sprite_flat_flags48.png);
  background-position: -480px -720px;
  width: 48px;
  height: 48px;
}
.icon48-vatican-city {
  background-image: url(sprite_flat_flags48.png);
  background-position: -528px -720px;
  width: 48px;
  height: 48px;
}
.icon48-venezuela {
  background-image: url(sprite_flat_flags48.png);
  background-position: -576px -720px;
  width: 48px;
  height: 48px;
}
.icon48-vietnam {
  background-image: url(sprite_flat_flags48.png);
  background-position: -624px -720px;
  width: 48px;
  height: 48px;
}
.icon48-wales {
  background-image: url(sprite_flat_flags48.png);
  background-position: -672px -720px;
  width: 48px;
  height: 48px;
}
.icon48-wallis-and-futuna {
  background-image: url(sprite_flat_flags48.png);
  background-position: -720px -720px;
  width: 48px;
  height: 48px;
}
.icon48-western-sahara {
  background-image: url(sprite_flat_flags48.png);
  background-position: -768px 0px;
  width: 48px;
  height: 48px;
}
.icon48-yemen {
  background-image: url(sprite_flat_flags48.png);
  background-position: -768px -48px;
  width: 48px;
  height: 48px;
}
.icon48-zambia {
  background-image: url(sprite_flat_flags48.png);
  background-position: -768px -96px;
  width: 48px;
  height: 48px;
}
.icon48-zimbabwe {
  background-image: url(sprite_flat_flags48.png);
  background-position: -768px -144px;
  width: 48px;
  height: 48px;
}
