/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon24-abkhazia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -24px 0px;
  width: 24px;
  height: 24px;
}
.icon24-afghanistan {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -264px -216px;
  width: 24px;
  height: 24px;
}
.icon24-aland {
  background-image: url(sprite_shiny_flags24.png);
  background-position: 0px -24px;
  width: 24px;
  height: 24px;
}
.icon24-albania {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -24px -24px;
  width: 24px;
  height: 24px;
}
.icon24-algeria {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -48px 0px;
  width: 24px;
  height: 24px;
}
.icon24-american-samoa {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -48px -24px;
  width: 24px;
  height: 24px;
}
.icon24-andorra {
  background-image: url(sprite_shiny_flags24.png);
  background-position: 0px -48px;
  width: 24px;
  height: 24px;
}
.icon24-angola {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -24px -48px;
  width: 24px;
  height: 24px;
}
.icon24-anguilla {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -48px -48px;
  width: 24px;
  height: 24px;
}
.icon24-antarctica {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -72px 0px;
  width: 24px;
  height: 24px;
}
.icon24-antigua-and-barbuda {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -72px -24px;
  width: 24px;
  height: 24px;
}
.icon24-argentina {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -72px -48px;
  width: 24px;
  height: 24px;
}
.icon24-armenia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: 0px -72px;
  width: 24px;
  height: 24px;
}
.icon24-aruba {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -24px -72px;
  width: 24px;
  height: 24px;
}
.icon24-australia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -48px -72px;
  width: 24px;
  height: 24px;
}
.icon24-austria {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -72px -72px;
  width: 24px;
  height: 24px;
}
.icon24-azerbaijan {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -96px 0px;
  width: 24px;
  height: 24px;
}
.icon24-bahamas {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -96px -24px;
  width: 24px;
  height: 24px;
}
.icon24-bahrain {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -96px -48px;
  width: 24px;
  height: 24px;
}
.icon24-bangladesh {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -96px -72px;
  width: 24px;
  height: 24px;
}
.icon24-barbados {
  background-image: url(sprite_shiny_flags24.png);
  background-position: 0px -96px;
  width: 24px;
  height: 24px;
}
.icon24-basque-country {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -24px -96px;
  width: 24px;
  height: 24px;
}
.icon24-belarus {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -48px -96px;
  width: 24px;
  height: 24px;
}
.icon24-belgium {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -72px -96px;
  width: 24px;
  height: 24px;
}
.icon24-belize {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -96px -96px;
  width: 24px;
  height: 24px;
}
.icon24-benin {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -120px 0px;
  width: 24px;
  height: 24px;
}
.icon24-bermuda {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -120px -24px;
  width: 24px;
  height: 24px;
}
.icon24-bhutan {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -120px -48px;
  width: 24px;
  height: 24px;
}
.icon24-bolivia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -120px -72px;
  width: 24px;
  height: 24px;
}
.icon24-bosnia-and-herzegovina {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -120px -96px;
  width: 24px;
  height: 24px;
}
.icon24-botswana {
  background-image: url(sprite_shiny_flags24.png);
  background-position: 0px -120px;
  width: 24px;
  height: 24px;
}
.icon24-brazil {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -24px -120px;
  width: 24px;
  height: 24px;
}
.icon24-british-antarctic-territory {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -48px -120px;
  width: 24px;
  height: 24px;
}
.icon24-british-virgin-islands {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -72px -120px;
  width: 24px;
  height: 24px;
}
.icon24-brunei {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -96px -120px;
  width: 24px;
  height: 24px;
}
.icon24-bulgaria {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -120px -120px;
  width: 24px;
  height: 24px;
}
.icon24-burkina-faso {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -144px 0px;
  width: 24px;
  height: 24px;
}
.icon24-burundi {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -144px -24px;
  width: 24px;
  height: 24px;
}
.icon24-cambodia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -144px -48px;
  width: 24px;
  height: 24px;
}
.icon24-cameroon {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -144px -72px;
  width: 24px;
  height: 24px;
}
.icon24-canada {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -144px -96px;
  width: 24px;
  height: 24px;
}
.icon24-canary-islands {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -144px -120px;
  width: 24px;
  height: 24px;
}
.icon24-cape-verde {
  background-image: url(sprite_shiny_flags24.png);
  background-position: 0px -144px;
  width: 24px;
  height: 24px;
}
.icon24-cayman-islands {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -24px -144px;
  width: 24px;
  height: 24px;
}
.icon24-central-african-republic {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -48px -144px;
  width: 24px;
  height: 24px;
}
.icon24-chad {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -72px -144px;
  width: 24px;
  height: 24px;
}
.icon24-chile {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -96px -144px;
  width: 24px;
  height: 24px;
}
.icon24-china {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -120px -144px;
  width: 24px;
  height: 24px;
}
.icon24-christmas-island {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -144px -144px;
  width: 24px;
  height: 24px;
}
.icon24-cocos-keeling-islands {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -168px 0px;
  width: 24px;
  height: 24px;
}
.icon24-colombia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -168px -24px;
  width: 24px;
  height: 24px;
}
.icon24-commonwealth {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -168px -48px;
  width: 24px;
  height: 24px;
}
.icon24-comoros {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -168px -72px;
  width: 24px;
  height: 24px;
}
.icon24-cook-islands {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -168px -96px;
  width: 24px;
  height: 24px;
}
.icon24-costa-rica {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -168px -120px;
  width: 24px;
  height: 24px;
}
.icon24-cote-divoire {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -168px -144px;
  width: 24px;
  height: 24px;
}
.icon24-croatia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: 0px -168px;
  width: 24px;
  height: 24px;
}
.icon24-cuba {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -24px -168px;
  width: 24px;
  height: 24px;
}
.icon24-curacao {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -48px -168px;
  width: 24px;
  height: 24px;
}
.icon24-cyprus {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -72px -168px;
  width: 24px;
  height: 24px;
}
.icon24-czech-republic {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -96px -168px;
  width: 24px;
  height: 24px;
}
.icon24-democratic-republic-of-the-congo {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -120px -168px;
  width: 24px;
  height: 24px;
}
.icon24-denmark {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -144px -168px;
  width: 24px;
  height: 24px;
}
.icon24-djibouti {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -168px -168px;
  width: 24px;
  height: 24px;
}
.icon24-dominica {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -192px 0px;
  width: 24px;
  height: 24px;
}
.icon24-dominican-republic {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -192px -24px;
  width: 24px;
  height: 24px;
}
.icon24-east-timor {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -192px -48px;
  width: 24px;
  height: 24px;
}
.icon24-ecuador {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -192px -72px;
  width: 24px;
  height: 24px;
}
.icon24-egypt {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -192px -96px;
  width: 24px;
  height: 24px;
}
.icon24-el-salvador {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -192px -120px;
  width: 24px;
  height: 24px;
}
.icon24-england {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -192px -144px;
  width: 24px;
  height: 24px;
}
.icon24-equatorial-guinea {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -192px -168px;
  width: 24px;
  height: 24px;
}
.icon24-eritrea {
  background-image: url(sprite_shiny_flags24.png);
  background-position: 0px -192px;
  width: 24px;
  height: 24px;
}
.icon24-estonia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -24px -192px;
  width: 24px;
  height: 24px;
}
.icon24-ethiopia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -48px -192px;
  width: 24px;
  height: 24px;
}
.icon24-european-union {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -72px -192px;
  width: 24px;
  height: 24px;
}
.icon24-falkland-islands {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -96px -192px;
  width: 24px;
  height: 24px;
}
.icon24-faroes {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -120px -192px;
  width: 24px;
  height: 24px;
}
.icon24-fiji {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -144px -192px;
  width: 24px;
  height: 24px;
}
.icon24-finland {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -168px -192px;
  width: 24px;
  height: 24px;
}
.icon24-france {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -192px -192px;
  width: 24px;
  height: 24px;
}
.icon24-french-polynesia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -216px 0px;
  width: 24px;
  height: 24px;
}
.icon24-french-southern-territories {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -216px -24px;
  width: 24px;
  height: 24px;
}
.icon24-gabon {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -216px -48px;
  width: 24px;
  height: 24px;
}
.icon24-gambia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -216px -72px;
  width: 24px;
  height: 24px;
}
.icon24-georgia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -216px -96px;
  width: 24px;
  height: 24px;
}
.icon24-germany {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -216px -120px;
  width: 24px;
  height: 24px;
}
.icon24-ghana {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -216px -144px;
  width: 24px;
  height: 24px;
}
.icon24-gibraltar {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -216px -168px;
  width: 24px;
  height: 24px;
}
.icon24-gosquared {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -216px -192px;
  width: 24px;
  height: 24px;
}
.icon24-greece {
  background-image: url(sprite_shiny_flags24.png);
  background-position: 0px -216px;
  width: 24px;
  height: 24px;
}
.icon24-greenland {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -24px -216px;
  width: 24px;
  height: 24px;
}
.icon24-grenada {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -48px -216px;
  width: 24px;
  height: 24px;
}
.icon24-guam {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -72px -216px;
  width: 24px;
  height: 24px;
}
.icon24-guatemala {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -96px -216px;
  width: 24px;
  height: 24px;
}
.icon24-guernsey {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -120px -216px;
  width: 24px;
  height: 24px;
}
.icon24-guinea-bissau {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -144px -216px;
  width: 24px;
  height: 24px;
}
.icon24-guinea {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -168px -216px;
  width: 24px;
  height: 24px;
}
.icon24-guyana {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -192px -216px;
  width: 24px;
  height: 24px;
}
.icon24-haiti {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -216px -216px;
  width: 24px;
  height: 24px;
}
.icon24-honduras {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -240px 0px;
  width: 24px;
  height: 24px;
}
.icon24-hong-kong {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -240px -24px;
  width: 24px;
  height: 24px;
}
.icon24-hungary {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -240px -48px;
  width: 24px;
  height: 24px;
}
.icon24-iceland {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -240px -72px;
  width: 24px;
  height: 24px;
}
.icon24-india {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -240px -96px;
  width: 24px;
  height: 24px;
}
.icon24-indonesia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -240px -120px;
  width: 24px;
  height: 24px;
}
.icon24-iran {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -240px -144px;
  width: 24px;
  height: 24px;
}
.icon24-iraq {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -240px -168px;
  width: 24px;
  height: 24px;
}
.icon24-ireland {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -240px -192px;
  width: 24px;
  height: 24px;
}
.icon24-isle-of-man {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -240px -216px;
  width: 24px;
  height: 24px;
}
.icon24-israel {
  background-image: url(sprite_shiny_flags24.png);
  background-position: 0px -240px;
  width: 24px;
  height: 24px;
}
.icon24-italy {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -24px -240px;
  width: 24px;
  height: 24px;
}
.icon24-jamaica {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -48px -240px;
  width: 24px;
  height: 24px;
}
.icon24-japan {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -72px -240px;
  width: 24px;
  height: 24px;
}
.icon24-jersey {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -96px -240px;
  width: 24px;
  height: 24px;
}
.icon24-jordan {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -120px -240px;
  width: 24px;
  height: 24px;
}
.icon24-kazakhstan {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -144px -240px;
  width: 24px;
  height: 24px;
}
.icon24-kenya {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -168px -240px;
  width: 24px;
  height: 24px;
}
.icon24-kiribati {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -192px -240px;
  width: 24px;
  height: 24px;
}
.icon24-kosovo {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -216px -240px;
  width: 24px;
  height: 24px;
}
.icon24-kuwait {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -240px -240px;
  width: 24px;
  height: 24px;
}
.icon24-kyrgyzstan {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -264px 0px;
  width: 24px;
  height: 24px;
}
.icon24-laos {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -264px -24px;
  width: 24px;
  height: 24px;
}
.icon24-latvia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -264px -48px;
  width: 24px;
  height: 24px;
}
.icon24-lebanon {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -264px -72px;
  width: 24px;
  height: 24px;
}
.icon24-lesotho {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -264px -96px;
  width: 24px;
  height: 24px;
}
.icon24-liberia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -264px -120px;
  width: 24px;
  height: 24px;
}
.icon24-libya {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -264px -144px;
  width: 24px;
  height: 24px;
}
.icon24-liechtenstein {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -264px -168px;
  width: 24px;
  height: 24px;
}
.icon24-lithuania {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -264px -192px;
  width: 24px;
  height: 24px;
}
.icon24-luxembourg {
  background-image: url(sprite_shiny_flags24.png);
  background-position: 0px 0px;
  width: 24px;
  height: 24px;
}
.icon24-macau {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -264px -240px;
  width: 24px;
  height: 24px;
}
.icon24-macedonia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: 0px -264px;
  width: 24px;
  height: 24px;
}
.icon24-madagascar {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -24px -264px;
  width: 24px;
  height: 24px;
}
.icon24-malawi {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -48px -264px;
  width: 24px;
  height: 24px;
}
.icon24-malaysia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -72px -264px;
  width: 24px;
  height: 24px;
}
.icon24-maldives {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -96px -264px;
  width: 24px;
  height: 24px;
}
.icon24-mali {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -120px -264px;
  width: 24px;
  height: 24px;
}
.icon24-malta {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -144px -264px;
  width: 24px;
  height: 24px;
}
.icon24-mars {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -168px -264px;
  width: 24px;
  height: 24px;
}
.icon24-marshall-islands {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -192px -264px;
  width: 24px;
  height: 24px;
}
.icon24-martinique {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -216px -264px;
  width: 24px;
  height: 24px;
}
.icon24-mauritania {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -240px -264px;
  width: 24px;
  height: 24px;
}
.icon24-mauritius {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -264px -264px;
  width: 24px;
  height: 24px;
}
.icon24-mayotte {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -288px 0px;
  width: 24px;
  height: 24px;
}
.icon24-mexico {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -288px -24px;
  width: 24px;
  height: 24px;
}
.icon24-micronesia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -288px -48px;
  width: 24px;
  height: 24px;
}
.icon24-moldova {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -288px -72px;
  width: 24px;
  height: 24px;
}
.icon24-monaco {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -288px -96px;
  width: 24px;
  height: 24px;
}
.icon24-mongolia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -288px -120px;
  width: 24px;
  height: 24px;
}
.icon24-montenegro {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -288px -144px;
  width: 24px;
  height: 24px;
}
.icon24-montserrat {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -288px -168px;
  width: 24px;
  height: 24px;
}
.icon24-morocco {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -288px -192px;
  width: 24px;
  height: 24px;
}
.icon24-mozambique {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -288px -216px;
  width: 24px;
  height: 24px;
}
.icon24-myanmar {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -288px -240px;
  width: 24px;
  height: 24px;
}
.icon24-nagorno-karabakh {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -288px -264px;
  width: 24px;
  height: 24px;
}
.icon24-namibia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: 0px -288px;
  width: 24px;
  height: 24px;
}
.icon24-nato {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -24px -288px;
  width: 24px;
  height: 24px;
}
.icon24-nauru {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -48px -288px;
  width: 24px;
  height: 24px;
}
.icon24-nepal {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -72px -288px;
  width: 24px;
  height: 24px;
}
.icon24-netherlands-antilles {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -96px -288px;
  width: 24px;
  height: 24px;
}
.icon24-netherlands {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -120px -288px;
  width: 24px;
  height: 24px;
}
.icon24-new-caledonia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -144px -288px;
  width: 24px;
  height: 24px;
}
.icon24-new-zealand {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -168px -288px;
  width: 24px;
  height: 24px;
}
.icon24-nicaragua {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -192px -288px;
  width: 24px;
  height: 24px;
}
.icon24-niger {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -216px -288px;
  width: 24px;
  height: 24px;
}
.icon24-nigeria {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -240px -288px;
  width: 24px;
  height: 24px;
}
.icon24-niue {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -264px -288px;
  width: 24px;
  height: 24px;
}
.icon24-norfolk-island {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -288px -288px;
  width: 24px;
  height: 24px;
}
.icon24-north-korea {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -312px 0px;
  width: 24px;
  height: 24px;
}
.icon24-northern-cyprus {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -312px -24px;
  width: 24px;
  height: 24px;
}
.icon24-northern-mariana-islands {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -312px -48px;
  width: 24px;
  height: 24px;
}
.icon24-norway {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -312px -72px;
  width: 24px;
  height: 24px;
}
.icon24-olympics {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -312px -96px;
  width: 24px;
  height: 24px;
}
.icon24-oman {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -312px -120px;
  width: 24px;
  height: 24px;
}
.icon24-pakistan {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -312px -144px;
  width: 24px;
  height: 24px;
}
.icon24-palau {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -312px -168px;
  width: 24px;
  height: 24px;
}
.icon24-palestine {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -312px -192px;
  width: 24px;
  height: 24px;
}
.icon24-panama {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -312px -216px;
  width: 24px;
  height: 24px;
}
.icon24-papua-new-guinea {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -312px -240px;
  width: 24px;
  height: 24px;
}
.icon24-paraguay {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -312px -264px;
  width: 24px;
  height: 24px;
}
.icon24-peru {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -312px -288px;
  width: 24px;
  height: 24px;
}
.icon24-philippines {
  background-image: url(sprite_shiny_flags24.png);
  background-position: 0px -312px;
  width: 24px;
  height: 24px;
}
.icon24-pitcairn-islands {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -24px -312px;
  width: 24px;
  height: 24px;
}
.icon24-poland {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -48px -312px;
  width: 24px;
  height: 24px;
}
.icon24-portugal {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -72px -312px;
  width: 24px;
  height: 24px;
}
.icon24-puerto-rico {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -96px -312px;
  width: 24px;
  height: 24px;
}
.icon24-qatar {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -120px -312px;
  width: 24px;
  height: 24px;
}
.icon24-red-cross {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -144px -312px;
  width: 24px;
  height: 24px;
}
.icon24-republic-of-the-congo {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -168px -312px;
  width: 24px;
  height: 24px;
}
.icon24-romania {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -192px -312px;
  width: 24px;
  height: 24px;
}
.icon24-russia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -216px -312px;
  width: 24px;
  height: 24px;
}
.icon24-rwanda {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -240px -312px;
  width: 24px;
  height: 24px;
}
.icon24-saint-barthelemy {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -264px -312px;
  width: 24px;
  height: 24px;
}
.icon24-saint-helena {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -288px -312px;
  width: 24px;
  height: 24px;
}
.icon24-saint-kitts-and-nevis {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -312px -312px;
  width: 24px;
  height: 24px;
}
.icon24-saint-lucia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -336px 0px;
  width: 24px;
  height: 24px;
}
.icon24-saint-martin {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -336px -24px;
  width: 24px;
  height: 24px;
}
.icon24-saint-vincent-and-the-grenadines {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -336px -48px;
  width: 24px;
  height: 24px;
}
.icon24-samoa {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -336px -72px;
  width: 24px;
  height: 24px;
}
.icon24-san-marino {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -336px -96px;
  width: 24px;
  height: 24px;
}
.icon24-sao-tome-and-principe {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -336px -120px;
  width: 24px;
  height: 24px;
}
.icon24-saudi-arabia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -336px -144px;
  width: 24px;
  height: 24px;
}
.icon24-scotland {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -336px -168px;
  width: 24px;
  height: 24px;
}
.icon24-senegal {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -336px -192px;
  width: 24px;
  height: 24px;
}
.icon24-serbia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -336px -216px;
  width: 24px;
  height: 24px;
}
.icon24-seychelles {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -336px -240px;
  width: 24px;
  height: 24px;
}
.icon24-sierra-leone {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -336px -264px;
  width: 24px;
  height: 24px;
}
.icon24-singapore {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -336px -288px;
  width: 24px;
  height: 24px;
}
.icon24-slovakia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -336px -312px;
  width: 24px;
  height: 24px;
}
.icon24-slovenia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: 0px -336px;
  width: 24px;
  height: 24px;
}
.icon24-solomon-islands {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -24px -336px;
  width: 24px;
  height: 24px;
}
.icon24-somalia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -48px -336px;
  width: 24px;
  height: 24px;
}
.icon24-somaliland {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -72px -336px;
  width: 24px;
  height: 24px;
}
.icon24-south-africa {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -96px -336px;
  width: 24px;
  height: 24px;
}
.icon24-south-georgia-and-the-south-sandwich-islands {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -120px -336px;
  width: 24px;
  height: 24px;
}
.icon24-south-korea {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -144px -336px;
  width: 24px;
  height: 24px;
}
.icon24-south-ossetia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -168px -336px;
  width: 24px;
  height: 24px;
}
.icon24-south-sudan {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -192px -336px;
  width: 24px;
  height: 24px;
}
.icon24-spain {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -216px -336px;
  width: 24px;
  height: 24px;
}
.icon24-sri-lanka {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -240px -336px;
  width: 24px;
  height: 24px;
}
.icon24-sudan {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -264px -336px;
  width: 24px;
  height: 24px;
}
.icon24-suriname {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -288px -336px;
  width: 24px;
  height: 24px;
}
.icon24-swaziland {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -312px -336px;
  width: 24px;
  height: 24px;
}
.icon24-sweden {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -336px -336px;
  width: 24px;
  height: 24px;
}
.icon24-switzerland {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -360px 0px;
  width: 24px;
  height: 24px;
}
.icon24-syria {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -360px -24px;
  width: 24px;
  height: 24px;
}
.icon24-taiwan {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -360px -48px;
  width: 24px;
  height: 24px;
}
.icon24-tajikistan {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -360px -72px;
  width: 24px;
  height: 24px;
}
.icon24-tanzania {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -360px -96px;
  width: 24px;
  height: 24px;
}
.icon24-thailand {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -360px -120px;
  width: 24px;
  height: 24px;
}
.icon24-togo {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -360px -144px;
  width: 24px;
  height: 24px;
}
.icon24-tokelau {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -360px -168px;
  width: 24px;
  height: 24px;
}
.icon24-tonga {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -360px -192px;
  width: 24px;
  height: 24px;
}
.icon24-trinidad-and-tobago {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -360px -216px;
  width: 24px;
  height: 24px;
}
.icon24-tunisia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -360px -240px;
  width: 24px;
  height: 24px;
}
.icon24-turkey {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -360px -264px;
  width: 24px;
  height: 24px;
}
.icon24-turkmenistan {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -360px -288px;
  width: 24px;
  height: 24px;
}
.icon24-turks-and-caicos-islands {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -360px -312px;
  width: 24px;
  height: 24px;
}
.icon24-tuvalu {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -360px -336px;
  width: 24px;
  height: 24px;
}
.icon24-uganda {
  background-image: url(sprite_shiny_flags24.png);
  background-position: 0px -360px;
  width: 24px;
  height: 24px;
}
.icon24-ukraine {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -24px -360px;
  width: 24px;
  height: 24px;
}
.icon24-united-arab-emirates {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -48px -360px;
  width: 24px;
  height: 24px;
}
.icon24-united-kingdom {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -72px -360px;
  width: 24px;
  height: 24px;
}
.icon24-united-nations {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -96px -360px;
  width: 24px;
  height: 24px;
}
.icon24-united-states {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -120px -360px;
  width: 24px;
  height: 24px;
}
.icon24-unknown {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -144px -360px;
  width: 24px;
  height: 24px;
}
.icon24-uruguay {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -168px -360px;
  width: 24px;
  height: 24px;
}
.icon24-us-virgin-islands {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -192px -360px;
  width: 24px;
  height: 24px;
}
.icon24-uzbekistan {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -216px -360px;
  width: 24px;
  height: 24px;
}
.icon24-vanuatu {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -240px -360px;
  width: 24px;
  height: 24px;
}
.icon24-vatican-city {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -264px -360px;
  width: 24px;
  height: 24px;
}
.icon24-venezuela {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -288px -360px;
  width: 24px;
  height: 24px;
}
.icon24-vietnam {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -312px -360px;
  width: 24px;
  height: 24px;
}
.icon24-wales {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -336px -360px;
  width: 24px;
  height: 24px;
}
.icon24-wallis-and-futuna {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -360px -360px;
  width: 24px;
  height: 24px;
}
.icon24-western-sahara {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -384px 0px;
  width: 24px;
  height: 24px;
}
.icon24-yemen {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -384px -24px;
  width: 24px;
  height: 24px;
}
.icon24-zambia {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -384px -48px;
  width: 24px;
  height: 24px;
}
.icon24-zimbabwe {
  background-image: url(sprite_shiny_flags24.png);
  background-position: -384px -72px;
  width: 24px;
  height: 24px;
}
