/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon64-abkhazia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -64px 0px;
  width: 64px;
  height: 64px;
}
.icon64-afghanistan {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -704px -576px;
  width: 64px;
  height: 64px;
}
.icon64-aland {
  background-image: url(sprite_shiny_flags64.png);
  background-position: 0px -64px;
  width: 64px;
  height: 64px;
}
.icon64-albania {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -64px -64px;
  width: 64px;
  height: 64px;
}
.icon64-algeria {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -128px 0px;
  width: 64px;
  height: 64px;
}
.icon64-american-samoa {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -128px -64px;
  width: 64px;
  height: 64px;
}
.icon64-andorra {
  background-image: url(sprite_shiny_flags64.png);
  background-position: 0px -128px;
  width: 64px;
  height: 64px;
}
.icon64-angola {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -64px -128px;
  width: 64px;
  height: 64px;
}
.icon64-anguilla {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -128px -128px;
  width: 64px;
  height: 64px;
}
.icon64-antarctica {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -192px 0px;
  width: 64px;
  height: 64px;
}
.icon64-antigua-and-barbuda {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -192px -64px;
  width: 64px;
  height: 64px;
}
.icon64-argentina {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -192px -128px;
  width: 64px;
  height: 64px;
}
.icon64-armenia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: 0px -192px;
  width: 64px;
  height: 64px;
}
.icon64-aruba {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -64px -192px;
  width: 64px;
  height: 64px;
}
.icon64-australia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -128px -192px;
  width: 64px;
  height: 64px;
}
.icon64-austria {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -192px -192px;
  width: 64px;
  height: 64px;
}
.icon64-azerbaijan {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -256px 0px;
  width: 64px;
  height: 64px;
}
.icon64-bahamas {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -256px -64px;
  width: 64px;
  height: 64px;
}
.icon64-bahrain {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -256px -128px;
  width: 64px;
  height: 64px;
}
.icon64-bangladesh {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -256px -192px;
  width: 64px;
  height: 64px;
}
.icon64-barbados {
  background-image: url(sprite_shiny_flags64.png);
  background-position: 0px -256px;
  width: 64px;
  height: 64px;
}
.icon64-basque-country {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -64px -256px;
  width: 64px;
  height: 64px;
}
.icon64-belarus {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -128px -256px;
  width: 64px;
  height: 64px;
}
.icon64-belgium {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -192px -256px;
  width: 64px;
  height: 64px;
}
.icon64-belize {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -256px -256px;
  width: 64px;
  height: 64px;
}
.icon64-benin {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -320px 0px;
  width: 64px;
  height: 64px;
}
.icon64-bermuda {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -320px -64px;
  width: 64px;
  height: 64px;
}
.icon64-bhutan {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -320px -128px;
  width: 64px;
  height: 64px;
}
.icon64-bolivia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -320px -192px;
  width: 64px;
  height: 64px;
}
.icon64-bosnia-and-herzegovina {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -320px -256px;
  width: 64px;
  height: 64px;
}
.icon64-botswana {
  background-image: url(sprite_shiny_flags64.png);
  background-position: 0px -320px;
  width: 64px;
  height: 64px;
}
.icon64-brazil {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -64px -320px;
  width: 64px;
  height: 64px;
}
.icon64-british-antarctic-territory {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -128px -320px;
  width: 64px;
  height: 64px;
}
.icon64-british-virgin-islands {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -192px -320px;
  width: 64px;
  height: 64px;
}
.icon64-brunei {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -256px -320px;
  width: 64px;
  height: 64px;
}
.icon64-bulgaria {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -320px -320px;
  width: 64px;
  height: 64px;
}
.icon64-burkina-faso {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -384px 0px;
  width: 64px;
  height: 64px;
}
.icon64-burundi {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -384px -64px;
  width: 64px;
  height: 64px;
}
.icon64-cambodia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -384px -128px;
  width: 64px;
  height: 64px;
}
.icon64-cameroon {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -384px -192px;
  width: 64px;
  height: 64px;
}
.icon64-canada {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -384px -256px;
  width: 64px;
  height: 64px;
}
.icon64-canary-islands {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -384px -320px;
  width: 64px;
  height: 64px;
}
.icon64-cape-verde {
  background-image: url(sprite_shiny_flags64.png);
  background-position: 0px -384px;
  width: 64px;
  height: 64px;
}
.icon64-cayman-islands {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -64px -384px;
  width: 64px;
  height: 64px;
}
.icon64-central-african-republic {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -128px -384px;
  width: 64px;
  height: 64px;
}
.icon64-chad {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -192px -384px;
  width: 64px;
  height: 64px;
}
.icon64-chile {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -256px -384px;
  width: 64px;
  height: 64px;
}
.icon64-china {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -320px -384px;
  width: 64px;
  height: 64px;
}
.icon64-christmas-island {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -384px -384px;
  width: 64px;
  height: 64px;
}
.icon64-cocos-keeling-islands {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -448px 0px;
  width: 64px;
  height: 64px;
}
.icon64-colombia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -448px -64px;
  width: 64px;
  height: 64px;
}
.icon64-commonwealth {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -448px -128px;
  width: 64px;
  height: 64px;
}
.icon64-comoros {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -448px -192px;
  width: 64px;
  height: 64px;
}
.icon64-cook-islands {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -448px -256px;
  width: 64px;
  height: 64px;
}
.icon64-costa-rica {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -448px -320px;
  width: 64px;
  height: 64px;
}
.icon64-cote-divoire {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -448px -384px;
  width: 64px;
  height: 64px;
}
.icon64-croatia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: 0px -448px;
  width: 64px;
  height: 64px;
}
.icon64-cuba {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -64px -448px;
  width: 64px;
  height: 64px;
}
.icon64-curacao {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -128px -448px;
  width: 64px;
  height: 64px;
}
.icon64-cyprus {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -192px -448px;
  width: 64px;
  height: 64px;
}
.icon64-czech-republic {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -256px -448px;
  width: 64px;
  height: 64px;
}
.icon64-democratic-republic-of-the-congo {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -320px -448px;
  width: 64px;
  height: 64px;
}
.icon64-denmark {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -384px -448px;
  width: 64px;
  height: 64px;
}
.icon64-djibouti {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -448px -448px;
  width: 64px;
  height: 64px;
}
.icon64-dominica {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -512px 0px;
  width: 64px;
  height: 64px;
}
.icon64-dominican-republic {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -512px -64px;
  width: 64px;
  height: 64px;
}
.icon64-east-timor {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -512px -128px;
  width: 64px;
  height: 64px;
}
.icon64-ecuador {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -512px -192px;
  width: 64px;
  height: 64px;
}
.icon64-egypt {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -512px -256px;
  width: 64px;
  height: 64px;
}
.icon64-el-salvador {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -512px -320px;
  width: 64px;
  height: 64px;
}
.icon64-england {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -512px -384px;
  width: 64px;
  height: 64px;
}
.icon64-equatorial-guinea {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -512px -448px;
  width: 64px;
  height: 64px;
}
.icon64-eritrea {
  background-image: url(sprite_shiny_flags64.png);
  background-position: 0px -512px;
  width: 64px;
  height: 64px;
}
.icon64-estonia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -64px -512px;
  width: 64px;
  height: 64px;
}
.icon64-ethiopia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -128px -512px;
  width: 64px;
  height: 64px;
}
.icon64-european-union {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -192px -512px;
  width: 64px;
  height: 64px;
}
.icon64-falkland-islands {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -256px -512px;
  width: 64px;
  height: 64px;
}
.icon64-faroes {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -320px -512px;
  width: 64px;
  height: 64px;
}
.icon64-fiji {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -384px -512px;
  width: 64px;
  height: 64px;
}
.icon64-finland {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -448px -512px;
  width: 64px;
  height: 64px;
}
.icon64-france {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -512px -512px;
  width: 64px;
  height: 64px;
}
.icon64-french-polynesia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -576px 0px;
  width: 64px;
  height: 64px;
}
.icon64-french-southern-territories {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -576px -64px;
  width: 64px;
  height: 64px;
}
.icon64-gabon {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -576px -128px;
  width: 64px;
  height: 64px;
}
.icon64-gambia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -576px -192px;
  width: 64px;
  height: 64px;
}
.icon64-georgia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -576px -256px;
  width: 64px;
  height: 64px;
}
.icon64-germany {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -576px -320px;
  width: 64px;
  height: 64px;
}
.icon64-ghana {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -576px -384px;
  width: 64px;
  height: 64px;
}
.icon64-gibraltar {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -576px -448px;
  width: 64px;
  height: 64px;
}
.icon64-gosquared {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -576px -512px;
  width: 64px;
  height: 64px;
}
.icon64-greece {
  background-image: url(sprite_shiny_flags64.png);
  background-position: 0px -576px;
  width: 64px;
  height: 64px;
}
.icon64-greenland {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -64px -576px;
  width: 64px;
  height: 64px;
}
.icon64-grenada {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -128px -576px;
  width: 64px;
  height: 64px;
}
.icon64-guam {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -192px -576px;
  width: 64px;
  height: 64px;
}
.icon64-guatemala {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -256px -576px;
  width: 64px;
  height: 64px;
}
.icon64-guernsey {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -320px -576px;
  width: 64px;
  height: 64px;
}
.icon64-guinea-bissau {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -384px -576px;
  width: 64px;
  height: 64px;
}
.icon64-guinea {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -448px -576px;
  width: 64px;
  height: 64px;
}
.icon64-guyana {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -512px -576px;
  width: 64px;
  height: 64px;
}
.icon64-haiti {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -576px -576px;
  width: 64px;
  height: 64px;
}
.icon64-honduras {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -640px 0px;
  width: 64px;
  height: 64px;
}
.icon64-hong-kong {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -640px -64px;
  width: 64px;
  height: 64px;
}
.icon64-hungary {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -640px -128px;
  width: 64px;
  height: 64px;
}
.icon64-iceland {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -640px -192px;
  width: 64px;
  height: 64px;
}
.icon64-india {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -640px -256px;
  width: 64px;
  height: 64px;
}
.icon64-indonesia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -640px -320px;
  width: 64px;
  height: 64px;
}
.icon64-iran {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -640px -384px;
  width: 64px;
  height: 64px;
}
.icon64-iraq {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -640px -448px;
  width: 64px;
  height: 64px;
}
.icon64-ireland {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -640px -512px;
  width: 64px;
  height: 64px;
}
.icon64-isle-of-man {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -640px -576px;
  width: 64px;
  height: 64px;
}
.icon64-israel {
  background-image: url(sprite_shiny_flags64.png);
  background-position: 0px -640px;
  width: 64px;
  height: 64px;
}
.icon64-italy {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -64px -640px;
  width: 64px;
  height: 64px;
}
.icon64-jamaica {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -128px -640px;
  width: 64px;
  height: 64px;
}
.icon64-japan {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -192px -640px;
  width: 64px;
  height: 64px;
}
.icon64-jersey {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -256px -640px;
  width: 64px;
  height: 64px;
}
.icon64-jordan {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -320px -640px;
  width: 64px;
  height: 64px;
}
.icon64-kazakhstan {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -384px -640px;
  width: 64px;
  height: 64px;
}
.icon64-kenya {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -448px -640px;
  width: 64px;
  height: 64px;
}
.icon64-kiribati {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -512px -640px;
  width: 64px;
  height: 64px;
}
.icon64-kosovo {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -576px -640px;
  width: 64px;
  height: 64px;
}
.icon64-kuwait {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -640px -640px;
  width: 64px;
  height: 64px;
}
.icon64-kyrgyzstan {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -704px 0px;
  width: 64px;
  height: 64px;
}
.icon64-laos {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -704px -64px;
  width: 64px;
  height: 64px;
}
.icon64-latvia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -704px -128px;
  width: 64px;
  height: 64px;
}
.icon64-lebanon {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -704px -192px;
  width: 64px;
  height: 64px;
}
.icon64-lesotho {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -704px -256px;
  width: 64px;
  height: 64px;
}
.icon64-liberia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -704px -320px;
  width: 64px;
  height: 64px;
}
.icon64-libya {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -704px -384px;
  width: 64px;
  height: 64px;
}
.icon64-liechtenstein {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -704px -448px;
  width: 64px;
  height: 64px;
}
.icon64-lithuania {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -704px -512px;
  width: 64px;
  height: 64px;
}
.icon64-luxembourg {
  background-image: url(sprite_shiny_flags64.png);
  background-position: 0px 0px;
  width: 64px;
  height: 64px;
}
.icon64-macau {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -704px -640px;
  width: 64px;
  height: 64px;
}
.icon64-macedonia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: 0px -704px;
  width: 64px;
  height: 64px;
}
.icon64-madagascar {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -64px -704px;
  width: 64px;
  height: 64px;
}
.icon64-malawi {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -128px -704px;
  width: 64px;
  height: 64px;
}
.icon64-malaysia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -192px -704px;
  width: 64px;
  height: 64px;
}
.icon64-maldives {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -256px -704px;
  width: 64px;
  height: 64px;
}
.icon64-mali {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -320px -704px;
  width: 64px;
  height: 64px;
}
.icon64-malta {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -384px -704px;
  width: 64px;
  height: 64px;
}
.icon64-mars {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -448px -704px;
  width: 64px;
  height: 64px;
}
.icon64-marshall-islands {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -512px -704px;
  width: 64px;
  height: 64px;
}
.icon64-martinique {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -576px -704px;
  width: 64px;
  height: 64px;
}
.icon64-mauritania {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -640px -704px;
  width: 64px;
  height: 64px;
}
.icon64-mauritius {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -704px -704px;
  width: 64px;
  height: 64px;
}
.icon64-mayotte {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -768px 0px;
  width: 64px;
  height: 64px;
}
.icon64-mexico {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -768px -64px;
  width: 64px;
  height: 64px;
}
.icon64-micronesia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -768px -128px;
  width: 64px;
  height: 64px;
}
.icon64-moldova {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -768px -192px;
  width: 64px;
  height: 64px;
}
.icon64-monaco {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -768px -256px;
  width: 64px;
  height: 64px;
}
.icon64-mongolia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -768px -320px;
  width: 64px;
  height: 64px;
}
.icon64-montenegro {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -768px -384px;
  width: 64px;
  height: 64px;
}
.icon64-montserrat {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -768px -448px;
  width: 64px;
  height: 64px;
}
.icon64-morocco {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -768px -512px;
  width: 64px;
  height: 64px;
}
.icon64-mozambique {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -768px -576px;
  width: 64px;
  height: 64px;
}
.icon64-myanmar {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -768px -640px;
  width: 64px;
  height: 64px;
}
.icon64-nagorno-karabakh {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -768px -704px;
  width: 64px;
  height: 64px;
}
.icon64-namibia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: 0px -768px;
  width: 64px;
  height: 64px;
}
.icon64-nato {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -64px -768px;
  width: 64px;
  height: 64px;
}
.icon64-nauru {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -128px -768px;
  width: 64px;
  height: 64px;
}
.icon64-nepal {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -192px -768px;
  width: 64px;
  height: 64px;
}
.icon64-netherlands-antilles {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -256px -768px;
  width: 64px;
  height: 64px;
}
.icon64-netherlands {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -320px -768px;
  width: 64px;
  height: 64px;
}
.icon64-new-caledonia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -384px -768px;
  width: 64px;
  height: 64px;
}
.icon64-new-zealand {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -448px -768px;
  width: 64px;
  height: 64px;
}
.icon64-nicaragua {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -512px -768px;
  width: 64px;
  height: 64px;
}
.icon64-niger {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -576px -768px;
  width: 64px;
  height: 64px;
}
.icon64-nigeria {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -640px -768px;
  width: 64px;
  height: 64px;
}
.icon64-niue {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -704px -768px;
  width: 64px;
  height: 64px;
}
.icon64-norfolk-island {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -768px -768px;
  width: 64px;
  height: 64px;
}
.icon64-north-korea {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -832px 0px;
  width: 64px;
  height: 64px;
}
.icon64-northern-cyprus {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -832px -64px;
  width: 64px;
  height: 64px;
}
.icon64-northern-mariana-islands {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -832px -128px;
  width: 64px;
  height: 64px;
}
.icon64-norway {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -832px -192px;
  width: 64px;
  height: 64px;
}
.icon64-olympics {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -832px -256px;
  width: 64px;
  height: 64px;
}
.icon64-oman {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -832px -320px;
  width: 64px;
  height: 64px;
}
.icon64-pakistan {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -832px -384px;
  width: 64px;
  height: 64px;
}
.icon64-palau {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -832px -448px;
  width: 64px;
  height: 64px;
}
.icon64-palestine {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -832px -512px;
  width: 64px;
  height: 64px;
}
.icon64-panama {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -832px -576px;
  width: 64px;
  height: 64px;
}
.icon64-papua-new-guinea {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -832px -640px;
  width: 64px;
  height: 64px;
}
.icon64-paraguay {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -832px -704px;
  width: 64px;
  height: 64px;
}
.icon64-peru {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -832px -768px;
  width: 64px;
  height: 64px;
}
.icon64-philippines {
  background-image: url(sprite_shiny_flags64.png);
  background-position: 0px -832px;
  width: 64px;
  height: 64px;
}
.icon64-pitcairn-islands {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -64px -832px;
  width: 64px;
  height: 64px;
}
.icon64-poland {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -128px -832px;
  width: 64px;
  height: 64px;
}
.icon64-portugal {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -192px -832px;
  width: 64px;
  height: 64px;
}
.icon64-puerto-rico {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -256px -832px;
  width: 64px;
  height: 64px;
}
.icon64-qatar {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -320px -832px;
  width: 64px;
  height: 64px;
}
.icon64-red-cross {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -384px -832px;
  width: 64px;
  height: 64px;
}
.icon64-republic-of-the-congo {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -448px -832px;
  width: 64px;
  height: 64px;
}
.icon64-romania {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -512px -832px;
  width: 64px;
  height: 64px;
}
.icon64-russia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -576px -832px;
  width: 64px;
  height: 64px;
}
.icon64-rwanda {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -640px -832px;
  width: 64px;
  height: 64px;
}
.icon64-saint-barthelemy {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -704px -832px;
  width: 64px;
  height: 64px;
}
.icon64-saint-helena {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -768px -832px;
  width: 64px;
  height: 64px;
}
.icon64-saint-kitts-and-nevis {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -832px -832px;
  width: 64px;
  height: 64px;
}
.icon64-saint-lucia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -896px 0px;
  width: 64px;
  height: 64px;
}
.icon64-saint-martin {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -896px -64px;
  width: 64px;
  height: 64px;
}
.icon64-saint-vincent-and-the-grenadines {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -896px -128px;
  width: 64px;
  height: 64px;
}
.icon64-samoa {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -896px -192px;
  width: 64px;
  height: 64px;
}
.icon64-san-marino {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -896px -256px;
  width: 64px;
  height: 64px;
}
.icon64-sao-tome-and-principe {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -896px -320px;
  width: 64px;
  height: 64px;
}
.icon64-saudi-arabia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -896px -384px;
  width: 64px;
  height: 64px;
}
.icon64-scotland {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -896px -448px;
  width: 64px;
  height: 64px;
}
.icon64-senegal {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -896px -512px;
  width: 64px;
  height: 64px;
}
.icon64-serbia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -896px -576px;
  width: 64px;
  height: 64px;
}
.icon64-seychelles {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -896px -640px;
  width: 64px;
  height: 64px;
}
.icon64-sierra-leone {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -896px -704px;
  width: 64px;
  height: 64px;
}
.icon64-singapore {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -896px -768px;
  width: 64px;
  height: 64px;
}
.icon64-slovakia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -896px -832px;
  width: 64px;
  height: 64px;
}
.icon64-slovenia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: 0px -896px;
  width: 64px;
  height: 64px;
}
.icon64-solomon-islands {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -64px -896px;
  width: 64px;
  height: 64px;
}
.icon64-somalia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -128px -896px;
  width: 64px;
  height: 64px;
}
.icon64-somaliland {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -192px -896px;
  width: 64px;
  height: 64px;
}
.icon64-south-africa {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -256px -896px;
  width: 64px;
  height: 64px;
}
.icon64-south-georgia-and-the-south-sandwich-islands {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -320px -896px;
  width: 64px;
  height: 64px;
}
.icon64-south-korea {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -384px -896px;
  width: 64px;
  height: 64px;
}
.icon64-south-ossetia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -448px -896px;
  width: 64px;
  height: 64px;
}
.icon64-south-sudan {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -512px -896px;
  width: 64px;
  height: 64px;
}
.icon64-spain {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -576px -896px;
  width: 64px;
  height: 64px;
}
.icon64-sri-lanka {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -640px -896px;
  width: 64px;
  height: 64px;
}
.icon64-sudan {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -704px -896px;
  width: 64px;
  height: 64px;
}
.icon64-suriname {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -768px -896px;
  width: 64px;
  height: 64px;
}
.icon64-swaziland {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -832px -896px;
  width: 64px;
  height: 64px;
}
.icon64-sweden {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -896px -896px;
  width: 64px;
  height: 64px;
}
.icon64-switzerland {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -960px 0px;
  width: 64px;
  height: 64px;
}
.icon64-syria {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -960px -64px;
  width: 64px;
  height: 64px;
}
.icon64-taiwan {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -960px -128px;
  width: 64px;
  height: 64px;
}
.icon64-tajikistan {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -960px -192px;
  width: 64px;
  height: 64px;
}
.icon64-tanzania {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -960px -256px;
  width: 64px;
  height: 64px;
}
.icon64-thailand {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -960px -320px;
  width: 64px;
  height: 64px;
}
.icon64-togo {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -960px -384px;
  width: 64px;
  height: 64px;
}
.icon64-tokelau {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -960px -448px;
  width: 64px;
  height: 64px;
}
.icon64-tonga {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -960px -512px;
  width: 64px;
  height: 64px;
}
.icon64-trinidad-and-tobago {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -960px -576px;
  width: 64px;
  height: 64px;
}
.icon64-tunisia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -960px -640px;
  width: 64px;
  height: 64px;
}
.icon64-turkey {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -960px -704px;
  width: 64px;
  height: 64px;
}
.icon64-turkmenistan {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -960px -768px;
  width: 64px;
  height: 64px;
}
.icon64-turks-and-caicos-islands {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -960px -832px;
  width: 64px;
  height: 64px;
}
.icon64-tuvalu {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -960px -896px;
  width: 64px;
  height: 64px;
}
.icon64-uganda {
  background-image: url(sprite_shiny_flags64.png);
  background-position: 0px -960px;
  width: 64px;
  height: 64px;
}
.icon64-ukraine {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -64px -960px;
  width: 64px;
  height: 64px;
}
.icon64-united-arab-emirates {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -128px -960px;
  width: 64px;
  height: 64px;
}
.icon64-united-kingdom {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -192px -960px;
  width: 64px;
  height: 64px;
}
.icon64-united-nations {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -256px -960px;
  width: 64px;
  height: 64px;
}
.icon64-united-states {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -320px -960px;
  width: 64px;
  height: 64px;
}
.icon64-unknown {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -384px -960px;
  width: 64px;
  height: 64px;
}
.icon64-uruguay {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -448px -960px;
  width: 64px;
  height: 64px;
}
.icon64-us-virgin-islands {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -512px -960px;
  width: 64px;
  height: 64px;
}
.icon64-uzbekistan {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -576px -960px;
  width: 64px;
  height: 64px;
}
.icon64-vanuatu {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -640px -960px;
  width: 64px;
  height: 64px;
}
.icon64-vatican-city {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -704px -960px;
  width: 64px;
  height: 64px;
}
.icon64-venezuela {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -768px -960px;
  width: 64px;
  height: 64px;
}
.icon64-vietnam {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -832px -960px;
  width: 64px;
  height: 64px;
}
.icon64-wales {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -896px -960px;
  width: 64px;
  height: 64px;
}
.icon64-wallis-and-futuna {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -960px -960px;
  width: 64px;
  height: 64px;
}
.icon64-western-sahara {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -1024px 0px;
  width: 64px;
  height: 64px;
}
.icon64-yemen {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -1024px -64px;
  width: 64px;
  height: 64px;
}
.icon64-zambia {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -1024px -128px;
  width: 64px;
  height: 64px;
}
.icon64-zimbabwe {
  background-image: url(sprite_shiny_flags64.png);
  background-position: -1024px -192px;
  width: 64px;
  height: 64px;
}
